<h1 class = "heading" ">Questions#answer</h1>
<div class = "box">
<p> <%= @question %> </p>
<p><em>You</em></p>
</div>
<br>

<div class = "box">
<p> <%= @answer  %> </p>
<p><em>Your Coach</em></p>
</div>

<%= link_to "Ask a question", ask_path%>
